<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Roboto" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/main.js"></script>
  <title>Pesquisa de usuário - GitHub</title>
</head>

<body>
  <div class="inicio">
    <h1>Digite o nome de usuário que deseja buscar:</h1>
    <form id="form" autocomplete="off" method="POST" action="user">
      <input type="text" id="input" name="userName">
      <button id="submit">Buscar</button>
    </form>
  </div>
</body>

</html>