<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Roboto" rel="stylesheet">
  <script src="/main.js"></script>
  <script src="/functions.js"></script>
  <title>Dados do repositório</title>
</head>

<body onLoad="loadRepository()">
  <h1 id="headerRepoEspecifico"></h1>
  <div class="grid" id="GridRepo">
    <div class="box" id="Descricao">Descrição:</div>
    <div class="box" id="DescricaoValue"></div>
    <div class="box" id="Estrelas">Número de estrelas:</div>
    <div class="box" id="EstrelasValue"></div>
    <div class="box" id="Linguagem">Linguagem:</div>
    <div class="box" id="LinguagemValue"></div>
    <a href="javascript: history.go(-1)" class="box" id="Voltar">Voltar</a>
    <a class="box" id="Link"></a>
    <input type="hidden" id="input" name="userName" value="goingBack">
  </div>
</body>

</html>