<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Roboto" rel="stylesheet">
  <script src="/main.js"></script>
  <title>Pesquisa de usuário - GitHub</title>
</head>

<body onLoad="checkAuth(<%= authorized %>)">
  <div class="inicio">
    <h1>Digite o nome de usuário que deseja buscar:</h1>
    <form id="form" autocomplete="off" onsubmit="handleFormSubmit()">
      <input type="text" id="input" name="userName">
      <button id="submit">Buscar</button>
    </form>
    <p class="authorization">
      Para ter acesso aos emails públicos, por favor acesse sua conta do Github:
      <a class="authorization" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= clientID %>">Acessar Conta</a>
    </p>
    <p class="authorization" style="display: none">
      Usuário Autorizado!
    </p>
  </div>
</body>

</html>