<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Roboto" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/main.js"></script>
  <script src="/functions.js"></script>
  <title>Informações de usuário</title>
</head>

<body onLoad="loadUser('<%=newUser %>')">
  <!--Dados do usuário-->
  <h1 id="headerUsuario">Informações do usuário:</h1>
  <div class="grid" id="GridUser">
    <div class="box" id="Imagem"></div>
    <div class="box" id="Usuario">Usuario</div>
    <div class="box" id="Seguidores">Seguidores:</div>
    <div class="box" id="SeguidoresValue"></div>
    <div class="box" id="Seguindo">Seguindo:</div>
    <div class="box" id="SeguidosValue"></div>
    <div class="box" id="Email">Email:</div>
    <div class="box" id="EmailValue"></div>
    <div class="box" id="Bio">Bio:</div>
    <div class="box" id="BioValue"></div>
  </div>
  <!--Lista de repositórios-->
  <h1 id="headerRepositorios">Repositórios</h1>
  <div id="repositorios"></div>
</body>

</html>