html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Foto por Aral Tasher, encontrada no site Unsplash*/

h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a:link {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

/* link visitado */
a:visited {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

/* link ao passar o mouse */
a:hover {
  color: grey;
  background-color: rgba(0, 0, 0, 1);
}

/* link ao clicar */
a:active {
  color: black;
}

/*CSS da pagina de pesquisa*/
.inicio {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 30px 25px;`
}

.inicio #form{
  position: relative;
  display: block;
  text-align: center;
}
.authorization {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: transparent;
  text-align: center;
}

/*Headers das páginas de usuário e repositório*/
#headerUsuario {
  display: block;
  text-align: center;
}

#headerRepositorios {
  display: block;
  text-align: center;
}

#headerRepoEspecifico {
  display: block;
  text-align: center;
}

/*CSS genérica para os grids*/
.grid {
  display: grid;
  background-color: transparent;
  height: 302px;
  width: 800px;
  margin: 0 auto;
}

.box {
  color: black;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 13px;
  
}

/*Caixa com informações do usuário*/
#GridUser {
  grid-template: repeat(6, 1fr) / 300px repeat(6,1fr);
  grid-gap: 4px;`
}

#Imagem {
  grid-area: 1 / 1 / span 6 / span 1;
  padding: 0;
  height: 300px; 
  width: 300px;
}

#Usuario {
  grid-area: 1 / 2 / span 1 / span 6;
}

#Seguidores {
  grid-area: 2 / 2 / span 1 / span 2;
}

#SeguidoresValue {
  grid-area: 2 / 4 / span 1 / span 1;
}

#Seguindo {
  grid-area: 2 / 5 / span 1 / span 2;
}

#SeguidosValue {
  grid-area: 2 / 7 / span 1 / span 1;
}

#Email {
  grid-area: 3 / 2 / span 1 / span 2;
}

#EmailValue {
  grid-area: 3 / 4 / span 1 / span 4;
}

#Bio {
  grid-area: 4 / 2 / span 1 / span 6;
}

#BioValue {
  grid-area: 5 / 2 / span 2 / span 6;
  text-align: left;
  padding: 4px;
}

/*Lista de repositórios*/
#repositorios {
  display: grid;
  width: 800px;
  list-style-type: none;
  margin: 0 auto;
}

.RepositoryLink {
  width: 200px
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 120%;
  color: #fff;
  text-align: center;
}

/*Informação de repositório específico*/
#GridRepo {
  grid-template: 3fr 1fr 1fr / repeat(4,1fr);
  grid-gap: 4px;`
  height: 200px;
  width: 600px;
  font-size: 18px;
}

#Descricao {
  grid-area: 1 / 1 / span 1 / span 1;
  padding-top: 50%;
  padding-bottom: 50%;
}

#DescricaoValue {
  grid-area: 1 / 2 / span 1 / span 3;
}

#Estrelas {
  grid-area: 2 / 1 / span 1 / span 1;
  padding-top: 11px;
  padding-bottom: 11px;
}

#EstrelasValue {
  grid-area: 2 / 2 / span 1 / span 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

#Linguagem {
  grid-area: 2 / 3 / span 1 / span 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

#LinguagemValue {
  grid-area: 2 / 4 / span 1 / span 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

#Voltar {
  grid-area: 3 / 1 / span 1 / span 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

#Link {
  grid-area: 3 / 4 / span 1 / span 1;
  padding-top: 20px;
  padding-bottom: 20px;
}